In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spacex_launch_dash.csv")
df.head(1)

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0

In [17]:
df.columns

Index(['Unnamed: 0', 'Flight Number', 'Launch Site', 'class',
       'Payload Mass (kg)', 'Booster Version', 'Booster Version Category'],
      dtype='object')

In [48]:
df['Payload Mass (kg)'].max()

9600.0

In [33]:
success_count = df[df['class'] == 1].groupby('Launch Site')['class'].count()

In [39]:
for e in success_count.items():
    print(e[1])

7
3
10
4

In [42]:
df2 = pd.DataFrame(data=success_count)
df2.loc[:, 'class']

Launch Site
CCAFS LC-40      7
CCAFS SLC-40     3
KSC LC-39A      10
VAFB SLC-4E      4
Name: class, dtype: int64

In [32]:
df2.head(10)

Empty DataFrame
Columns: [ls, sucess]
Index: []